These are the people who have been to a specific location:
<br>
<br>
<li><%= @weekday.location.name %></li><br>
    <li><%= @weekday.user.name %></li>

    if a user.status == "infected" 
    send alert 3 to user's who share same date and location

    if user.location & user.date 

    choose all weekdays 
    and do weekday.location
    choose all users under that weekday.location to receive alert3